@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Webkit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  
  /* Ensure the body allows horizontal scrolling */
  body {
    overflow-x: auto;
    overflow-y: scroll;
    /* Hide vertical scrollbar if you only want horizontal scrolling */
  }
  
  /* .perspective-1000 {
      perspective: 1000px;
    }
    
    .transform-gpu {
      transform-style: preserve-3d;
    }
    
    .transition-transform {
      transition: transform 0.5s;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

*/
